@import "src/assets/variables";
.cursor-pointer {
  color: $secondary;
  &:hover {
    color: $dark;
    cursor: pointer;
  }
}

img:hover {
  cursor: pointer;
}

.img-fluid{
  max-height: 75vh !important;
}