<div class="container-fluid">
  <ng-container *ngTemplateOutlet="landmark?data:loading"></ng-container>
</div>

<ng-template #data>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-7 col-lg-6">
            <div class="card">
                <div class="card-body">
                  <div class="d-flex">
                      <img
                      class="img-responsive mr-3 w-25"
                      src="assets/images/photo.svg"
                      alt="no image"
                    />
                    <div>
                        <h4 class="card-title">{{ landmark?.attributes?.title }}</h4>
                        <p class="text-justify mb-2 text-success">Short info</p>
                        <p class="text-justify mb-2">
                          {{ landmark?.attributes?.short_info }}
                        </p>
                        <a [attr.href]="landmark?.attributes?.url" target="_blanck" class="badge badge-success">Go to Official Site</a>
                    </div>            
                  </div>
                    <p class="text-justify mb-2 text-success">Description</p>
                    <p class="text-justify mb-2">
                        {{ landmark?.attributes?.description }}
                    </p>
                   
              </div>
            </div>
          </div>
        </div>
</ng-template>

<ng-template #loading>
  <loading></loading>
</ng-template>