.container-fluid {
  padding-top: calc(70.38px + 3rem);
  padding-bottom: 3rem;
  min-height: 100vh;
  background: #f7f7f7;
}

.affix {
  top:calc(70.38px + 3rem);
  position:fixed;
  display: flex;
  margin-right: 2em;
}

agm-map {
  // display: inline-block;
  height: 600px;
  // min-height: 400px;
  // min-width: 400px;
  width: 900px;
}