.container-fluid {
  padding-top: calc(70.38px + 3rem);
  padding-bottom: 3rem;
  min-height: 100vh;
  background: #f7f7f7;
}

.affix {
  top:calc(70.38px + 3rem);
  position:fixed;
  // display: flex;
  margin-right: 2em;
}

agm-map {
  height: calc( 100vh - 160px);
  width: 900px;
}

.sticky-top{
  top: calc(70.38px + 3rem);
}