<div class="container-fluid h-100">
  <div class="row h-100 align-items-center">
    <div class="col-12 col-md-6">
      <landmark *ngFor="let l of landmarks" [landmark]="l"></landmark>
    </div>
    <div class="col-12 col-md-6">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat quasi
      soluta saepe, adipisci natus nesciunt quisquam! Quod nam consectetur
      quaerat, sit adipisci obcaecati recusandae odio unde, error similique
      dolorum excepturi!
    </div>
  </div>
</div>
