.container-fluid {
  padding-top: calc(70.38px + 3rem);
  padding-bottom: 3rem;
  min-height: 100vh;
  background: #f7f7f7;
}

.affix {
  top:calc(70.38px + 3rem);
  position:fixed;
  margin-right: 2em !important;
}

agm-map {
  height: 500px;
 min-width: 500px;
 width: 900px;
}