<div class="container-fluid h-100">
  <ng-container *ngTemplateOutlet="landmarks?data:loading"></ng-container>
</div>

<ng-template #data>
  <div class="row">
    <div *ngIf="landmarks" class="col-12 col-md-6">
      <landmark *ngFor="let l of landmarks" [landmark]="l" (onSelect)="onLandmarkSelect($event)"></landmark>
    </div>
    <div class="col-12 col-md-6">
        <div class="sticky-top">
            <agm-map class="w-100" *ngIf="landmarks" [latitude]="selectedLandmark.attributes.location.latitude"
            [longitude]="selectedLandmark.attributes.location.longitude" [zoom]="zoom">
              <agm-marker [latitude]="selectedLandmark.attributes.location.latitude"
                [longitude]="selectedLandmark.attributes.location.longitude">
                <agm-info-window>{{selectedLandmark.attributes.title}}</agm-info-window>
              </agm-marker>
            </agm-map>
        </div>
    </div>
  </div>
</ng-template>

<ng-template #loading>
    <loading></loading>
</ng-template>